@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
$heading-font: "Zilla Slab", serif;
$body-font: "Raleway", sans-serif;
$poppins: "Poppins", sans-serif;
$black: #16181c;
$whitetitle: rgba(255, 255, 255, 0.7);

body {
  width: 100%;
  height: 100vh;
  background-color: $black;
  color: white;
  font-family: $poppins;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
}

p {
  line-height: 1.3;
}

h2 {
  font-family: $poppins;
  font-size: 40px;

  // font-weight: 600;
}

h3 {
  font-family: $poppins;
  font-size: 36px;
  font-weight: 600;
  color: $black;
}

.bold {
  font-weight: 700;
}

#header {
  background-color: white;
  color: $black;
  width: 100%;
  // position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;

  img {
    width: 250px;
    z-index: 2;
  }
  // a {
  //   font-size: 20px;
  //   margin-left: 10px;
  //   color: $black;
  //   font-family: $heading-font;
  //   font-weight: 600;
  // }

  #nav {
    li {
      font-family: $poppins;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

#hero {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: $black;
  color: white;
  // height: 100vh;

  div {
    width: 50%;
    padding: 40px;
    max-width: 500px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

#jump-links {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // padding-top: 200px;
  background-color: $black;
  padding: 20px 10px 20px 10px;
  overflow: scroll;

  // color: white;

  .active {
    border-radius: 38px;
    color: black;
    background-color: white;
    transition: all 0.5s;

    h3 {
      color: black;
    }
  }

  h3 {
    color: $whitetitle;
    padding: 4px 12px 4px 12px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    // font-weight: 500;
  }

  .main-link {
    text-decoration: none;
    margin-right: 10px;
  }
}

#main-content {
  width: 100%;
}

#heading h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
#data-container {
  display: flex;
  flex-direction: column;

  max-width: 700px;
  background-color: $black;
  color: white;
  // margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-top: 40px;
  padding-bottom: 18px;
  height: 100%;
  border-radius: 3px;

  p {
    padding: 100px;
  }

  h2 {
    font-family: $poppins;
    font-weight: 700;
    font-size: 24px;
    // line-height: 24px;
    margin-bottom: 15px;
    padding-left: 30px;
  }
  h4 {
    font-size: 21px;
    font-weight: 700;
    padding-left: 30px;
  }

  .data {
    padding: 20px;
    // border: 1px solid white;
    max-width: 600px;
    text-align: left;
    // border-top: solid 1px rgba(255, 255, 255, 0.06);
    border-bottom: solid 1px rgba(255, 255, 255, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .solid {
    //   border-top: 1px solid #bbb;
    // }
    img {
      width: 5px;
      height: 5px;
      fill: white;
    }

    a {
      font-family: $poppins;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      color: white;
      width: 100%;
      padding: 14.5px 0 14.5px 14.5px;
      text-decoration: none;
    }
  }
}

// #take-blaction {
//   padding: 100px 20px 100px 20px;
//   display: flex;
//   justify-content: center;
//   flex-direction: rows;
//   flex-wrap: wrap;
//   // max-width: 500px;

//   // height: 500px;

//   img {
//     width: 100px;
//   }
// }

#contact {
  width: 100%;
  // max-width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  p {
    margin: 20px 0;
    max-width: 500px;
  }
}

#cta {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    max-width: 500px;
  }
}

#footer {
  width: 100%;

  text-align: center;
  padding: 10px;
}

@media (max-width: 750px) {
  #hero {
    flex-direction: column;
    div {
      width: 100%;
      padding: 40px;
      max-width: 500px;
    }
  }

  #header {
    padding: 5px 20px 5px 20px;
    img {
      width: 150px;
    }
  }

  #take-blaction {
    padding: 40px 20px 40px 20px;
  }
}
