@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
$heading-font: "Zilla Slab", serif;
$body-font: "Raleway", sans-serif;
$poppins: "Poppins", sans-serif;
$black: #16181c;
$whitetitle: rgba(255, 255, 255, 0.7);
$darkgray: #28292e;
$lightblack: #1e1f25;

body {
  width: 100%;
  height: 100vh;
  background-color: $black;
  color: white;
  font-family: $poppins;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
}

p {
  line-height: 1.3;
}

h2 {
  font-family: $poppins;
  font-size: 40px;

  // font-weight: 600;
}

h3 {
  font-family: $poppins;
  font-size: 36px;
  font-weight: 600;
  color: $black;
}

.bold {
  font-weight: 700;
}

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#header {
  background-color: $black;
  color: white;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
  border-bottom: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  position: relative;

  img {
    width: 250px;
    z-index: 2;
  }

  #nav {
    // position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: white;
      height: 100vh;
      width: 350px;
      text-align: right;
      padding: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      // transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      // transform: ${({ open }) => open ? 'translateX(0)' : 'translateX(-100%)'};
    }
    a {
      font-size: 20px;
      font-family: $poppins;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
      margin: 1rem 0;
      // font-weight: bold;
      letter-spacing: 0.5rem;
      color: $black;
      text-decoration: none;
      transition: color 0.3s linear;
    }
  }
}
//NAV Buttons

.nav-button {
  // position: absolute;
  top: 3%;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  transition: all 0.3s linear;

  &:focus {
    outline: none;
  }
  div {
    width: 2rem;
    height: 0.25rem;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
}

#hero {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: $black;
  color: white;
  // height: 100vh;

  div {
    width: 50%;
    padding: 40px;
    max-width: 500px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

#jump-links {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // padding-top: 200px;
  background-color: $black;
  padding: 20px 10px 0px 0px;
  overflow: scroll;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  // color: white;

  .active {
    // border-radius: 38px;
    color: black;
    background-color: $black;
    border-bottom: 2px solid white;
    transition: all 0.5s;

    h3 {
      color: white;
    }
  }

  h3 {
    color: $whitetitle;
    padding: 4px 12px 20px 20px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    // font-weight: 500;
  }

  .main-link {
    text-decoration: none;
    margin-right: 10px;
  }
}

#main-content {
  width: 100%;
  max-width: 840px;
  padding-top: 150px;
  margin: 0 auto;
}

#heading h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.category-header {
  padding: 40px 35px;
  background-color: $darkgray;
  border-left: 6px solid white;
}

#data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $black;
  color: white;
  margin-left: auto;
  margin-right: auto;

  .data-list-item:hover {
    background-color: $darkgray;
  }

  .data-list-item {
    width: 100%;

    border-bottom: 0.5px $darkgray solid;

    // position:relative;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
    }

    .content-text {
      display: flex;
      flex-direction: column;

      // padding: 0 20px;
    }

    .content-image {
      width: 50px;
      height: 50px;
      margin-left: 10px;

      img {
        border-radius: 5px;
      }
    }
  }

  .more-content {
    max-height: 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: $lightblack;

    // display: block;
    overflow: hidden;
    padding-left: 60px;
    padding-right: 60px;
    // border-top: 1px solid gray;

    // position: absolute;
    transition: opacity 0.5s cubic-bezier(0.1, 0.44, 0.27, 1.32);
    // transform: translatey(-100%);

    p {
      margin-top: 20px;
      line-height: 1.3;
    }

    a.tbutton {
      display: inline-block;
      text-decoration: none;
      max-width: 185px;
      padding: 12px 24px;
      border: solid 1.5px #ffffff;
      border-radius: 4px;
      background-color: $lightblack;
      color: white;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: $poppins;
      font-size: 18px;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  h3 {
    font-family: $poppins;
    font-weight: 700;
    font-size: 24px;
    color: white;
    // line-height: 24px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 20px;
  }
}

// #take-blaction {
//   padding: 100px 20px 100px 20px;
//   display: flex;
//   justify-content: center;
//   flex-direction: rows;
//   flex-wrap: wrap;
//   // max-width: 500px;

//   // height: 500px;

//   img {
//     width: 100px;
//   }
// }

#contact {
  width: 100%;
  // max-width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  p {
    margin: 20px 0;
    max-width: 500px;
  }
}

#cta {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    max-width: 500px;
  }
}

#footer {
  width: 100%;

  text-align: center;
  padding: 10px;
}
